body{
/* background-color: white; */
margin: 0px;
padding: 0px;

}
.nav {
    border: 2px solid black;
    border-radius: 44px;
    gap: 25px;
    display: flex;
    margin: 12px;
    padding: 5px;
}
.logo{
    padding-top: 2px;
    padding-left: 5px;
}
.homelo{
    padding-top: 4px;
}
.searchbar{
    display: flex;
    padding-top: 4px;
    gap: 14px;
    margin-left: 100px;
    align-items: center;
    border: 2px solid black;
    border-radius: 3333px;
    padding-bottom: 6px;
    background:greenyellow;
    
}
.searchbar{
    padding-right: 33px;
}
.left{
    width: 25VW;
    /* height: 25vw; */
    display: flex;
}

.home li{
    list-style: none;
    width: 24px;
    display:flex;
}
.right{
    width: 75vw;
    height: 75vw;
}